<div>
  <h2 class="text-center">Task List</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th class="text-center">Task Name</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <app-task-item [items]="tasks"></app-task-item> -->
        @for (item of tasks; track item.id ; let i = $index) {
        <tr [ngClass]="{ 'text-decoration-line-through': item.isDone }">
          <td>{{ i + 1 }}</td>
          <td class="text-center">{{ item.taskName }}</td>
          <td class="text-center">
            @if(item.isDone){Completed}@else {In progress}
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center align-items-center gap-2">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="item.isDone"
                (change)="update(item)"
              />
              <button class="btn hover border-0" (click)="deleteTask(item.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        }@empty {
        <tr>
          <td colspan="4" class="text-center">No Task Found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
